.error {
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 102, 102);
}

.success {
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(114, 255, 62);
}

.blog {
  border: 1px solid;
  margin: 10px 0px;
  padding: 5px;
  color: rgb(0, 0, 0);
}

.deleteButton {
  color: red;
}
